.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  text-decoration: none;
  background-image: url(../../../images/cross.svg);
  background-color: white;
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
}
